
<table width="95%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td><div align="center"><strong>Install Banner Wizz </strong></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><form id="form1" name="form1" method="post" action="options-general.php?page=post_banner_wizz.php&action=install_db&db=2">
      <p align="center">Before you can use Banner Wizz we need to do some database configurations:</p>
      <p align="center">&nbsp;      </p>
      <label>
      <div align="center">
        <input type="submit" name="Submit" value="Install databases" />
      </div>
      </label>    
        </form>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>

