<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<div class="wrap">
<div id="icon-options-general" class="icon32"><br /></div>
<h2>Banner Wizz</h2>

<table width="95%" height="373" border="0" cellpadding="5" cellspacing="0" style="margin-top:1px;">
  <tr>
    <td height="29" colspan="2" valign="top" bgcolor="#CCFFFF" >
	<a href="options-general.php?page=post_banner_wizz.php&amp;action=viewbanners">List banners</a>
<a href="options-general.php?page=post_banner_wizz.php&amp;action=addbanner">Add new banner</a>
<a href="options-general.php?page=post_banner_wizz.php&amp;action=about">About</a></td>
    </tr>
  <tr>
    <td valign="top"  ><div align="center">{content}</div>    </td>
    <td width="250" valign="top"  >
	
	
	<table width="70" border="0" align="center" cellpadding="5" cellspacing="2" class="widefat" style="width:80px; margin-left:20px;">
<thead>
  <tr>
    <th width="6%"><strong>Add banner </strong></th>
</tr>
  </thead>
    <tbody><tr>
    <td>sdf js dj fhksjhd fjkhsjdh fjksh</td>
  </tr>
  </tbody>
  </table></td>
  </tr>
</table>
</div>
</body>
</html>
