<form action="{action_m}" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table  height="139" border="0" align="center" cellpadding="5" cellspacing="0"  class="widefat" style="width:750px;">
    <thead>
	<tr>
      <th colspan="2"><div align="left"><strong>{up_title}</strong></div>
        </td>    </tr>
	</thead>
    <tr>
      <td width="50%">Set banners upload directory </td>
      <td width="50%"><label></label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="Do it" />
      </label></td>
    </tr>
  </table>
</form>
